.container{
    width: 500px;
    height: 800px;

    background-color: cadetblue;
    padding-left: 30px;
}
#height, #weight{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#results{
    font-size: 20px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(49, 81, 71);
}

button{
    background-color: antiquewhite;
    padding: 1px 20px;
  border-radius: 8px;
  margin: 10px 10px 10px 120px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 15px;
}